<header ng-include="'partials/header.html'"> </header>
<div class="grid_12">
	<ul class="nav main">
		<li><a href="#home"><span>Registered User</span></a></li>
		<!-- <li><a href="#postByAdmin"><span>Posted By Admin</span></a> /*<ul>
                     <li><a href="#" >All Post</a> </li>
                   </ul>*/</li> -->
		<li><a href="#allPost"><span>Post By User</span></a></li>
		<li><a href="#adWords"><span>Add Words</span></a></li>
				<li><a href="#contactUs"><span>ContactUs</span></a></li>
	</ul>

</div>

<div class="clear"></div>



<div class="grid_12">
	<div class="box round first">

		<h2>List Of User</h2>
<div ng-if="users.length>=1">

		<div class="block">
			<div class="user-all">	
				<table class="table-design">
					<thead>
						<tr>
						    <th>S.No.</th>
							<th>User name</th>
							<th>Email Address</th>
							<th>Contact No.</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					
					<tbody>
						<tr ng-repeat="user in users">
							<td>{{$index+1}}</td>
							<td>{{user.firstName}} {{user.lastName}}</td>
							<td>{{user.email}}</td>
							<td>{{user.contactNumber}}</td>
							<td><a href="#" class="button" ng-click="user.isOpen=!user.isOpen">View profile</a></td>
						</tr>
						
						</tbody>
					
				</table>
			</div>
					
		
		<!-- 	<ul class="user-list ">  
				<li class="list-user" ng-repeat="user in users">
					<div class="user-name">{{user.firstName}}  {{user.lastName}}</div>
					<div class="view-btn">
						<a href="#" class="button" ng-click="user.isOpen=!user.isOpen">View profile</a>
					</div>
					<div class="user-profile" ng-if="user.isOpen"
						style="display: block">
		  				<div class="form-signin">
							<form>
								<ul class="form-list">
									<li class="form-row">
										<div class="grid_4">
											<label>Email Address</label>
										</div>
										<div class="grid_8">
											<p>{{user.email}}</p>
										</div>
									</li>

									<li class="form-row">
										<div class="grid_4">
											<label>Password</label>
										</div>
										<div class="grid_8">
											<p>{{user.password}}</p>
										</div>
									</li>
									
									<li class="form-row">
										<div class="grid_4">
											<label>Contact</label>
										</div>
										<div class="grid_8">
											<p>{{user.contactNumber}}</p>
										</div>
									</li>

								</ul>
							</form>
						</div>
					</div>
				</li>
			</ul>

 -->
		</div>

	</div>
</div></div>

<div  ng-if="users.length==0"><h2><b style= "color:red;"> No Users Available</b></h2></div>



<div class="clear"></div>
