<header ng-include="'partials/header.html'"> </header>
<div class="grid_12">

              <ul class="nav main">
                <li><a href="#home"><span>Registered User</span></a> </li>
                <li><a href="#postByAdmin"><span>Posted By Admin</span></a>
                   <!--/*<ul>
                     <li><a href="#" >All Post</a> </li>
                   </ul>*/-->
                </li> 
                <li><a href="#allPost"><span>Post By User</span></a> </li>
                		<li><a href="#adWords"><span>Add Words</span></a></li>
                
            </ul>

        </div>

        <div class="clear">

        </div>

   

        <div class="grid_12">
            <div class="box round first">            

                <h2>Admin Post Title</h2>

                <div class="block">
					<div class="form-signin" style="max-width: 100%;">
    <form >
    <ul class="form-list">
    <li class="form-row">
    	<div class="grid_4"><label>Title</label></div>
        <div class="grid_8"><p>Tital Lorium</p></div>
    </li>
    
    <li class="form-row">
    	<div class="grid_4"><label>Description</label></div>
        <div class="grid_8"> 
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever       </p>
       </div>
    </li>
    
     <li class="form-row">
    	<div class="grid_4"><label>Selling Price:</label></div>
        <div class="grid_4"><p>$ 50</p> </div>
    </li>
    <li class="form-row">
    	<div class="grid_4"><label>Location </label></div>
        <div class="grid_8"><p>Location Lorium</p></div>
    </li>
    
    <li class="form-row">
    	<div class="grid_4"><label>Create a Map Link  </label></div>
        <div class="grid_5"><p>Addess Lorium simply dummy </p></div>
          <!-- <div class="grid_3"><p>58885</p> </div> -->
    </li>
     
     
     <li class="form-row">
    	<div class="grid_4"><label>Your email address  </label></div>
        <div class="grid_4"><p>lorium@gmail.com</p></div>
    </li>
    
    <li class="form-row">
    	<div class="grid_4"><label>Phone Number  </label></div>     
          <div class="grid_8"> 
          <p>89589658951</p> </div>
    </li>
       
       
       <li class="form-row">
    	<div class="grid_4"><label>Mobile Notifications (optional) </label></div>     
          <div class="grid_8"> 
         <p>98260571135</p> </div>
    </li>
    
     <li class="form-row">
    	<div class="grid_4"><label>Display options </label></div>     
          <div class="grid_8">
          	<label class="checkbox signup-check">
           <input type="checkbox"> <span class="checkbox-span">Yes, show links to my other postings. </span>
           </label>          	
           </div>
    </li>
    
    <li class="form-row">
    	<div class="grid_4"><label>Add Video </label></div>     
          <div class="grid_8">
          		<p class="inline-block">Max length is 30 sec or 15mb.</p>	
                <div class="brows-btn inline-block"><input type="file"></div>
           </div>
    </li>
    
    <li class="form-row">
    	<div class="grid_4"><label>Add Images</label></div>     
          <div class="grid_8">
          		<p class="inline-block">Maximum 12 images, max size 10mb each.</p>	
               <input type="submit" value="Choose Images" class="button inline-block">
           </div>
    </li>
    
    <li class="form-row">
    	<div class="grid_12">
        	<p class="Upgrade-text">Upgrades (Keep your ad near the top by purchasing upgrades.)</p>
        </div>
    </li>
    
    <li class="form-row">
    	<div class="grid_4"><label>Move Ad to Top of Listings</label></div>     
        <div class="grid_8">
          	<label class="checkbox signup-check">
           <input type="checkbox"> <span class="checkbox-span">Move to top every hour for the next</span>
           	<select><option>1 Hours</option> <option>2 Hours</option></select>
            <span class="checkbox-span">starting now for $1.00</span>
           </label>          	
         </div>
    </li>
    
     <li class="form-row">
    	<div class="grid_4"><label>Add Nearby Cities </label></div>     
        <div class="grid_4">
           <label class="checkbox signup-check">
             <input type="checkbox"> <span class="checkbox-span">Anchorage</span>
           </label>       
           <label class="checkbox signup-check">
             <input type="checkbox"> <span class="checkbox-span">Fairbanks - $0.25</span>
           </label>          	
         </div>
         <div class="grid_4">
           <label class="checkbox signup-check">
             <input type="checkbox"> <span class="checkbox-span">Juneau - $0.25</span>
           </label>       
           <label class="checkbox signup-check">
             <input type="checkbox"> <span class="checkbox-span">Kenai Peninsula - $0.25</span>
           </label>          	
         </div>
    </li>
    
    
     <li class="form-row">
    	<div class="grid_4"><label>Auto Repost Ad</label></div>     
        <div class="grid_8">
          	<label class="checkbox signup-check">
           <input type="checkbox"> <span class="checkbox-span">
              Move your ad to the top of the listings every</span>
           	<select><option>1 Day</option> <option>2 Days</option></select>after	<select><option>7:00 PM</option> <option>8:00 PM</option></select>Number of times <select><option>26 times for $1.02 </option> <option>52 times for $2.04 </option></select>
            
           </label>          	
         </div>
    </li>
    
    <li class="form-row">
    	<div class="grid_4"><label>Sponsor Ad</label></div>     
        <div class="grid_8">
          	<label class="checkbox signup-check">
           <input type="checkbox"> <span class="checkbox-span">
              Your ad will appear highlighted with thumbnails. 
              Number of weeks:</span>
           	<select><option>1 week ($0.00)</option> <option>---</option></select>
        
           </label>          	
         </div>
    </li>
       
       
      <li>
       
      <button class="btn  btn-block" type="submit">Continue</button> 
      </li>
      
       <li class="form-row">
       <div class="grid_12">
       	 <label class="checkbox signup-check">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> <span class="checkbox-span"> By placing this ad I agree to the <a href="#">terms of use</a>. </span>
        </label>
        
        </div>
      </li>
       </ul>  
    </form>   
</div>  
                </div>

            </div>
        </div>

        

        

        <div class="clear">

        </div>
