<div class="container">
	<div class="step-2">
		<div class="row">
			<div class="post-sale col-sm-12">
				<h3>Delete Ad</h3>					
				
				<span>Please confirm that you would like to delete the following ad.</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<button class="btn btn-lg btn-primary btn-block" ng-click="dontDelete()">No, I changed my mind</button>
			</div>
			<div class="col-sm-6 col-md-3">
				<button class="btn btn-lg btn-primary btn-block" ng-click="delete()">Yes, delete my ad</button>
			</div>
		</div>
		<div class="row">					
			<h3 class="bp-border-bottom" ng-bind-html="adPost.title"></h3>
			<br/>											
			<h4><span ng-bind-html="adPost.description"></span></h4>
			<br/>
			<h4>Contact : <span>{{adPost.mobileNo}}</span></h4>
			<br/>
			<h4>Location : <span>{{adPost.location}}</span></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-3" >
			<button class="btn btn-lg btn-primary btn-block" ng-click="email()">email to friend</button>
		</div>						
	</div>
</div>