<div class="content">    
    <div class="input-group bp-city-search col-sm-12 col-md-5">
        <span class="input-group-addon" >Search</span>
        <input type="text" ng-model="citySearch" class="form-control" />
    </div>
    <div class="heading">
        <h3>{{country.countryName}}</h3>
    </div>
</div>
<div class="bp-country-wrapper">
    <div class="bp-state-wrapper" ng-repeat="state in country.state" ng-if="filterCity(state.stateName, state.city, citySearch)">
        <h3 class="heading-txt">{{state.stateName}}</h3>
        <ul class="inline-list bp-city-wrapper">
            <li class="cursorPointer" ng-repeat="city in state.city| filter:citySearch"><a ng-click="listLocation(state.stateId, city.cityId)">{{city.cityName}}</a></li>
        </ul>
    </div>
</div>
