<form ng-submit="placeMoveTop(form.$valid)" name="form" novalidate="">
    <div class="container">
        <div class="inner-content">
            <div class="row form-row">
                <div class="col-sm-4">
                    <label>Move Ad to Top of Listings</label>
                </div>
                <div class="col-sm-12">
                    <label class="checkbox signup-check"> 
                        <input type="checkbox" ng-model="move.moveAdToTopCheck" name="moveAdToTopCheck" required="">  
                        <span class="checkbox-span">Move to top every hour for the next</span> 
                        <select ng-model="move.nextPerHour" ng-change="moveToTopChk()">
                            <option value="1" ng-selected="1">1 Hours</option>
                            <option value="2">2 Hours</option>
                            <option value="3">3 Hours</option>
                            <option value="4">4 Hours</option>
                            <option value="5">5 Hours</option>
                            <option value="7">7 Hours</option>
                            <option value="8">8 Hours</option>
                            <option value="9">9 Hours</option>
                            <option value="10">10 Hours</option>
                            <option value="11">11 Hours</option>
                            <option value="12">12 Hours</option>
                            <option value="13">13 Hours</option>
                            <option value="14">14 Hours</option>
                            <option value="15">15 Hours</option>
                            <option value="16">16 Hours</option>
                            <option value="17">17 Hours</option>
                            <option value="18">18 Hours</option>
                            <option value="19">19 Hours</option>
                            <option value="20">20 Hours</option>
                            <option value="21">21 Hours</option>
                            <option value="22">22 Hours</option>
                            <option value="23">23 Hours</option>
                            <option value="24">24 Hours</option>
                        </select> <span class="checkbox-span">starting now for $ {{move.price}}</span>
                    </label>                    
                    <p class="error" ng-if="form.moveAdToTopCheck.$error.required && form.$submitted">Move to top field is required.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="checkbox signup-check"> 
                        <input type="checkbox" value="agreeTerms" name="agreeTerms" required ng-model="termOfUse" />
                        <span class="checkbox-span">
                            <span class="bp-required">*</span> By placing this ad I agree to the <a href="#">terms of use</a>.
                        </span>
                    </label>
                    <p class="error" ng-if="form.agreeTerms.$error.required && form.$submitted">Terms is required.</p>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block">Continue</button></div></div>
</form>