<div class="inner-content">
	<h2>Preview Ad</h2>
    <ul class="all-step">
    	<li class="active">Step 1: Write Ad</li>
        <li class="active">Step 2: Preview Ad</li>        
		<li>Step 3: Activation</li>
		<li>Step 4: All Done</li>
    </ul>
  
</div>
<div class="row">
	<div class="col-sm-3">
		<button class="btn btn-lg btn-primary btn-block" ng-click="editAd()" >Edit</button>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="post-sale">
		
			
		<ul>
				<li><h3><span>Title</span></h3>{{adPost.title}}</li>
				<li><h3><span>EmailId</span></h3>{{adPost.emailId}}</li>
				<li><h3><span>Description</span></h3>{{adPost.description}}</li>
				<li><h3><span>SellingPrice</span></h3>{{adPost.sellingPrice}}</li>
		</ul>
		</div>
	</div>
</div>
<div class="row">
<div class="col-sm-3">
	<button class="btn btn-lg btn-primary btn-block" ng-click="saveAd()" >Save</button>
	</div>
	<div class="col-sm-3">
	<!-- <button class="btn btn-lg btn-primary btn-block" ng-click="editAddPost(adPost)" >Edit</button>  
 --></div>
</div>
