<h3>Terms of Use</h3>
<p>Baypassion.com is a classified advertisement website (the “Site”) owned by Baypassion
Solutions LLC (“Baypassion”). By browsing the Site, accessing the content thereof, or using the
Site and/or its content in any way, you accept this TERMS of USE (“TOU”) and agree to comply
with all the terms thereof. The TOU may be updated from time to time. You are subject to the
version of the TOU when you browse the Site, access the content thereof, or use the Site and/or
its content. Baypassion has no obligation to notify you regarding the changes or updates of the
TOU. You’re required to review the most updated TOU each time you browse the Site, access
the content thereof, or use the Site and/or its content.</p>
<h3>USE</h3>
<p>Your use of the site is a privilege granted by Baypassion. Baypassion reserves the right to reject
or terminate the use of anyone. The Site is a classified advertisement website. In order to
protect the interest of all users, you agree to refrain from activities non-related to classified
advertisement. The following is a non-exclusive list of the prohibited acts:</p>
<ol>
<li>Harassing, threatening, embarrassing other users through the Site or interfering with
other users from enjoying the Site;</li>
<li>Transmitting any information or contents that is unlawful, harmful, fraudulent,
discriminative, obscene, discriminative, or otherwise offensive to other users;</li>
<li>Infringing the patents, copyrights, trademarks, service marks, trade secrets or other
intellectual property rights of other users;</li>
<li>Spreading virus, malware, worms, cookie or any other software may harm the function
of Site or offensive to other users;</li>
<li>Attacking or attempting to attack the Site and causing malfunction or damages to the
Site;</li>
<li>Collecting users’ data and/or invasion of users’ privacy;
Posting or soliciting illegal sexual services;</li>
<li>Posting or soliciting illegal sexual services;</li>
<li>Posting any advertisement for products or services, use or sale of which is prohibited by
any laws or regulations;</li>
<li>Any other illegal acts through the Site.</li>
</ol>
<p>If prohibited acts are found, Baypassion, at its choice, may terminate the use of the violating
user, editing or deleting the inappropriate postings, closing the violating user’s account, and/or
pursuing legal liabilities of the violating user.</p>
<h3>MONITORING</h3>
<p>In order to maintain the Site and prevent prohibited use of the Site, Baypassion reserves the
right to monitor the operation of the Site and the activities of the users in regards with using the
Site. You do not object to such monitoring and agrees that such monitoring does not constitute
invasion of privacy or any other protected confidential information of you.</p>
<p>If you are aware of any prohibited use of the Site, you agrees to report to: [Baypassion’s contact
information]. You further agrees to assist Baypassion to conduct investigate the reported
violations.</p>
<h3>FEES</h3>
<p>Baypassion may impose a fee for posting advertisement on the Site or other related services.
You acknowledge the rate of fee and accept it as fair market rate upon posting your
advertisement on the Site. In case you violate the TOU which causes removal of your posting,
the Site will NOT provide a refund or issue a credit.</p>
<h3>INTELLECTUAL PROPERTY</h3>
<p>The trademarks, logos, images, text, illustrations, audio and video files designed or created by
Baypassion are protected intellectual property of Baypassion. You are prohibited from copying,
reproducing, republishing, or distribution such materials in any way without written
authorization of Baypassion.</p>
<p>For the trademarks, logos, images, text, illustrations, audio and video files designed by or
created by or authorized use to you, by posting content on the Site, you grant Baypassion the
right to use, reproduce, distribute, translate, modify within the Site.</p>
<h3>DISCLAIMER</h3>
<p>YOU EXPRESSLY AGREE THAT USE OF THE SITE IS AT YOUR OWN RISK. You understand that
Baypassion does not control, and thus is not responsible for the postings and any other
information provided by the users on the Site. Baypassion assumes no responsibility for the
accuracy, currency, completeness or legitimacy of information posted on the Site. In addition,
Baypassion does not endorse any opinions or views posted by any user. Such information,
opinions, views, and/or other postings are the sole responsibility of the posting user. Baypassion
is under no obligation to provide warranty, no matter expressed or implied, on the services or
products posted on the Site. Baypassion is under no obligation to mediate or resolve any
disputes between you and other users of the Site.</p>
<h3>CONTROLLING LAW AND JURISDICTION</h3>
<p>This TOU shall be governed by and construed in accordance with the laws of the State of
California. No party to this TOU shall argue or assert that any law other than California law
applies to the governance or construction of this TOU. Any disputes arising from this TOU are
subject to the administration of governments and/or jurisdiction of courts within the State of
California.</p>
<h3>SEVERABILITY</h3>
<p>If any term of this TOU is held by a court of competent jurisdiction to be invalid or
unenforceable, then this TOU, including all of the remaining terms, will remain in full force and
effect as if such invalid or unenforceable term had never been included.</p>
