<div class="container">
    <div class="inner-content">
        <h2>Write Ad</h2>
        <ul class="all-step">
            <li ng-class="step.step1.selectClass" ng-click="editStep('step1')">Step 1: Write Ad</li>
            <li ng-class="step.step2.selectClass" ng-click="editStep('step2')">Step 2: Preview Ad</li>
            <li ng-class="step.step3.selectClass" ng-click="editStep('step3')">Step 3: Activation</li>
            <li ng-class="step.step4.selectClass" ng-click="editStep('step4')">Step 4: All Done</li>
        </ul>
    </div>
    <div class="all-form">
    
        <div class="form-signin" ng-show="step.step1.current">
            <form name="form" ng-submit="continue('step2')" novalidate="">
                <div class="row form-row">
                    <div class="col-sm-4">
                        <label id="bpFmTitle">Title <span class="bp-required">*</span></label>
                    </div>
                    <div class="col-sm-8 bp-form-title" >
                        <textarea  ui-tinymce="tinymceOptions" rows="1" id="adPostTitle" class="form-control input-design" ng-model="addPost.title" placeholder="Title" name="title"  ng-change="contentChange()" required>Title </textarea>
                        <p class="error" ng-if="form.title.$error.required && form.$submitted">Title is required.</p>
                        <p class="error" ng-if="titleProhibited">Title contains Prohibited word {{titleProhibitedWord}}.</p>
                        <p class="error" ng-if="titleLengthOverMax">Reached limit! max length is 254</p>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-4">
                        <label id="bpFmDescription">Description<span class="bp-required">*</span></label>
                    </div>
                    <div class="col-sm-8 ">
                        <!-- 						<div class="button-row"> -->
                        <!-- 							<input class="button" value="Bold" type="button" ng-click="ShowSelection('B')" /> <input class="button" value="Italic" type="button" ng-click="ShowSelection('I')" /> <input class="button" value="Underline" type="button" ng-click="ShowSelection('U')" /> -->
                        <!-- 						</div>						 -->
                        <textarea ui-tinymce="tinymceOptions" rows="10" id="adPostDesc" class="form-control input-design" ng-model="addPost.description" placeholder="Description" name="description"  ng-change="contentChange()" required>Description </textarea>
                        <p class="error" ng-if="form.description.$error.required && form.$submitted">Description is required.</p>
                        <p class="error" ng-if="descriptionProhibited">Description contains Prohibited word {{descriptionProhibitedWord}}.</p>
                        <p class="error" ng-if="descriptionLengthOverMax">Reached limit! max length is 254</p>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-4">
                        <label>Selling Price: $</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control input-design" name="sellingPrice" ng-model="addPost.sellingPrice" placeholder="Selling Price: $ " />
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-4">
                        <label>Location </label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-design" name="location" ng-model="addPost.location" placeholder="Location " />
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-4">
                        <label>Create a Map Link </label>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control input-design" name="mapLink" ng-model="addPost.mapLink" placeholder="Address " />
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control input-design" name="zipCode" ng-model="addPost.zipCode" placeholder="ZIP Code  " />
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-4">
                        <label>Your email address <span class="bp-required">*</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <input type="email" class="form-control input-design" name="emailId" ng-model="addPost.emailId" placeholder="Email" required ng-disabled="checkEmail != ''"/>
                        <p class="error" ng-if="form.emailId.$error.email && form.$submitted">Invalid Email Address.</p>
                        <p class="error" ng-if="form.emailId.$error.required && form.$submitted">Email is required.</p>
                    </div>
                    <div class="col-sm-4">
                        <input type="email" ng-blur="matchEmail()" class="form-control input-design" ng-model="addPost.confirmEmail" name="confirmEmail" placeholder="Confirm Email" required ng-disabled="checkEmail != ''"/>
                        <p class="error" ng-if="form.confirmEmail.$error.email && form.$submitted">Invalid Email Address.</p>
                        <p class="error" ng-if="form.confirmEmail.$error.required && form.$submitted">Confirm Email is required.</p>
                        <p class="error" ng-if="confirmMailError && form.$submitted">Email doesn't match.</p>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-4">
                        <label>Phone Number <span class="bp-required">*</span></label>
                    </div>
                    <div class="col-sm-8">
                        <p>To prevent scam ads from being posted, email addresses are not allowed in this category.</p>
                        <input type="text" class="form-control input-design" name="mobileNo" ng-model="addPost.mobileNo" placeholder="Mobile Number" />
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-4">
                        <label>Mobile Notifications (optional) </label>
                    </div>
                    <div class="col-sm-8">
                        <p>
                            Enter your phone number if you want to manage your ad by SMS. We will not display or sell your number. Message and data rates apply. See <a href="#">terms</a> for more info.
                        </p>
                        <input type="text" class="form-control input-design" name="mobileNotification" ng-model="addPost.mobileNotification" placeholder="Mobile Number" />
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-4">
                        <label>Display options </label>
                    </div>
                    <div class="col-sm-8">
                        <label class="checkbox signup-check"> <input type="checkbox" ng-model="addPost.displayOptions"> <span class="checkbox-span">Yes, show links to my other postings. </span>
                        </label>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-4">
                        <label>Add Video </label>
                    </div>
                    <div class="col-sm-8">
                        <div class="brows-btn inline-block">
                            <p class="inline-block">Max length is 30 sec or 15mb.</p>
                            <!-- 
                            <input type = "file" sh-upload = "myFile2" form="uploadForm" class="form-control" name="pic2" min-size="" max-size=""  min="2" max="4" extn="jpg,png" multiple=""/> 
                            -->
                            <input type="file" sh-upload="addPost.video" form="form" target="bpUploadedVideo" video="loadedVideo" value="Choose Audio" class="button inline-block" name="video" max-size="15360" />
                            <p class="error" ng-if="form.video.$error.maxFileSize">File is exceeding maximum file size.</p>
                            <p class="error" ng-if="form.video.$error.maxSize">File is exceeding maximum file size.</p>
                        </div>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-4">
                        <label>Add Images</label>
                        <label>You can upload maximum 10 images. </label>
                    </div>
                    <div class="col-sm-8">
                        <div id="dropzone" class="dropzone sm" options="dzOptions" methods="dzMethods" callbacks="dzCallbacks" ng-dropzone></div>                        
                    </div>
                </div>                
                <div ng-hide="{{isMultiCity}}" >
                <!--  
                    <div class="row form-row">
                        <div class="col-sm-12">
                            <p class="Upgrade-text">Upgrades (Keep your ad near the top by purchasing upgrades.)</p>
                        </div>
                    </div>
                    
                    <div class="row form-row">
                        <div class="col-sm-4">
                            <label>Move Ad to Top of Listings</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="checkbox signup-check"> <input type="checkbox" ng-model="addPost.moveAd.moveAdToTopCheck"> <span class="checkbox-span">Move to top every hour for the next</span> <select ng-model="addPost.moveAd.nextPerHour" ng-change="moveToTopChk()">
                                    <option value="1" ng-selected="1">1 Hours</option>
                                    <option value="2">2 Hours</option>
                                    <option value="3">3 Hours</option>
                                    <option value="4">4 Hours</option>
                                    <option value="5">5 Hours</option>
                                    <option value="7">7 Hours</option>
                                    <option value="8">8 Hours</option>
                                    <option value="9">9 Hours</option>
                                    <option value="10">10 Hours</option>
                                    <option value="11">11 Hours</option>
                                    <option value="12">12 Hours</option>
                                    <option value="13">13 Hours</option>
                                    <option value="14">14 Hours</option>
                                    <option value="15">15 Hours</option>
                                    <option value="16">16 Hours</option>
                                    <option value="17">17 Hours</option>
                                    <option value="18">18 Hours</option>
                                    <option value="19">19 Hours</option>
                                    <option value="20">20 Hours</option>
                                    <option value="21">21 Hours</option>
                                    <option value="22">22 Hours</option>
                                    <option value="23">23 Hours</option>
                                    <option value="24">24 Hours</option>
                                </select> <span class="checkbox-span">starting now for $ {{price}}</span>
                            </label>
                        </div>
                    </div>
                    -->
                    </div>
                    <!-- 
                    <lable class="error" ng-if="minCityPirce">Please add upgrades to have a minimum purchase of $0.99</lable>
                    -->
                    <div class="row form-row">
                        <div class="col-sm-4">
                            <label>Add Nearby Cities <lable ng-if="showAllCityPrice">for $ {{allCityPrice}}</lable></label>
                        </div>
                        <div class="col-sm-4">
                            <label class="checkbox signup-check" ng-repeat="city in cities"> <input type="checkbox" ng-model="city.isSelect" ng-disabled="city.isInitial" ng-change="selectedCities()" /> <span class="checkbox-span">{{city.cityName}} -${{city.cityPrice}}</span>
                            </label>
                        </div>
                    </div>
                    <!-- 
                    <div class="row form-row">
                        <div class="col-sm-4">
                            <label>Auto Repost Ad</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="checkbox signup-check"> <input type="checkbox" ng-model="addPost.autoRepost.autoRepostAdCheck"> <span class="checkbox-span"> Move your ad to the top of the listings every</span> <select ng-model="addPost.autoRepost.listingEveryDays" ng-change="autoRepostChk()">
                                    <option value="3" ng-selected="3">3 Days</option>
                                    <option value="4">4 Days</option>
                                    <option value="5">5 Days</option>
                                    <option value="6">6 Days</option>
                                    <option value="7">7 Days</option>
                                    <option value="8">8 Days</option>
                                    <option value="9">9 Days</option>
                                    <option value="10">10 Days</option>
                                    <option value="11">11 Days</option>
                                    <option value="12">12 Days</option>
                                    <option value="13">13 Days</option>
                                    <option value="14">14 Days</option>
                                    <option value="15">15 Days</option>
                                    <option value="16">16 Days</option>
                                    <option value="17">17 Days</option>
                                    <option value="18">18 Days</option>
                                    <option value="19">19 Days</option>
                                    <option value="20">20 Days</option>
                                    <option value="21">21 Days</option>
                                    <option value="22">22 Days</option>
                                    <option value="23">23 Days</option>
                                    <option value="24">24 Days</option>
                                    <option value="25">25 Days</option>
                                    <option value="26">26 Days</option>
                                    <option value="27">27 Days</option>
                                    <option value="28">28 Days</option>
                                    <option value="29">29 Days</option>
                                    <option value="30">30 Days</option>
                                </select>
                                <div class="block-div">
                                    <span class="inline-span">after <select ng-model="addPost.autoRepost.afterHour" ng-change="autoRepostChk()">
                                            <option value="0">12:00 AM</option>
                                            <option value="1">1:00 AM</option>
                                            <option value="2">2:00 AM</option>
                                            <option value="3">3:00 AM</option>
                                            <option value="4">4:00 AM</option>
                                            <option value="5" ng-selected="5">5:00 AM</option>
                                            <option value="6">6:00 AM</option>
                                            <option value="7">7:00 AM</option>
                                            <option value="8">8:00 AM</option>
                                            <option value="9">9:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="13">1:00 PM</option>
                                            <option value="14">2:00 PM</option>
                                            <option value="15">3:00 PM</option>
                                            <option value="16">4:00 PM</option>
                                            <option value="17">5:00 PM</option>
                                            <option value="18">6:00 PM</option>
                                            <option value="19">7:00 PM</option>
                                            <option value="20">8:00 PM</option>
                                            <option value="21">9:00 PM</option>
                                            <option value="22">10:00 PM</option>
                                            <option value="23">11:00 PM</option>
                                        </select></span> <span class="inline-span"> Number of times 
                                        <select ng-model="addPost.autoRepost.numberOfTimes" ng-change="autoRepostChk()">
                                            <option value="{{numberTimes}}" ng-selected="{{numberTimes}}">26 times for ${{numberTimes}}</option>
                                            <option value="{{numberTimes * 2}}">52 times for ${{numberTimes * 2}}</option>
                                            <option value="{{numberTimes * 4}}">104 times for ${{numberTimes * 4}}</option>
                                        </select></span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="row form-row">
                    <div class="col-sm-4">
                        <label>Sponsor Ad</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="checkbox signup-check"> <input type="checkbox" ng-model="addPost.sponserAdCheck"> <span class="checkbox-span"> Your ad will appear highlighted with thumbnails. Number of weeks:</span> <select ng-model="addPost.numberOfWeek" ng-change="sponsorChk()">
                                <option value="{{sponsePrice}}" ng-selected="{{sponsePrice}}">1 week (${{sponsePrice}})</option>
                                <option>---</option>
                            </select>
                        </label>
                    </div>
                </div>
                -->
                <button class="btn btn-lg btn-primary btn-block" >Continue</button>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="checkbox signup-check"> <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe" required ng-model="addPost.termOfUse" /> <span class="checkbox-span"><span class="bp-required">*</span> By placing this ad I agree to the <a href="#termOfUse">terms of use</a>. </span>
                        </label>
                        <p class="error" ng-if="form.rememberMe.$error.required && form.$submitted">Terms is required.</p>
                    </div>
                </div>
            </form>
        </div>
       
        <div class="step-2" ng-show="step.step2.current">
            <div class="row">
                <div class="col-sm-12">
                    <div class="post-sale">
                        Review your ad and if no changes are to be made, type verification code in the box below and click place ad now.<br><br>
                        <div><input type="submit" value=" Edit Ad " class="button" ng-click="editStep('step1')"></div>
                        <ul>
                            <li>
                                <h4>
                                    <span>Section : </span> <span>{{selectedAutomotive}}</span>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <span>Category : </span> <span>{{selectedCategoryName}}</span>
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <span>Ad Price :</span> <span>{{totalPrice}}</span>
                                </h4>
                            </li>
                            <li>
                                <div vc-recaptcha theme="'light'" key="captcha.key" on-create="setCaptchaWidgetId(widgetId)" on-success="setCaptchaResponse(response)" on-expire="captchaExpiration()"></div>
                            </li>
                            <li class="bp-border-bottom">
                                <h4>
                                    <span>{{addPost.sellingPrice}} <span ng-if="addPost.sellingPrice != '' && addPost.title != ''">,</span> <span ng-bind-html="addPost.title"></span>
                                    </span>
                                </h4>
                                <p class="bp-margin-top">{{addPost.postedOn}}</p>
                            </li>
                            <li>
                                <p ng-show="showPaypal">
                            <paypal-button env="opts.env" client="opts.client" payment="opts.payment" commit="opts.commit" on-authorize="opts.onAuthorize"></paypal-button>
                            </p>
                            <p ng-if="paymentError.show" class="error bp-margin-top">{{paymentError.error}}</p>
                            <p class="bp-margin-top" ng-if="addPost.description.length > 0" ng-bind-html="addPost.description"></p>
                            <p class="bp-margin-top" ng-if="addPost.zipCode.length > 0">
                                Map <a ng-href="https://www.google.com/maps?q=+{{addPost.zipCode}}" target="_blank">{{addPost.zipCode}}</a>
                            </p>
                            <p class="bp-margin-top" ng-if="addPost.sellingPrice.length > 0">Selling Price : {{addPost.sellingPrice}}</p>
                            <p class="bp-margin-top" ng-if="addPost.mobileNo.length > 0">Contact No: {{addPost.mobileNo}}</p>
                            <p class="bp-margin-top" ng-if="addPost.mapLink.length > 0">
                            <address>{{addPost.mapLink}}</address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row  post-sale">                
                <div class="col-sm-12 col-md-6 bp-selected-images">
                    <div class="col-sm-6" ng-repeat="loadedFile in loadedFiles">
                        <!--                        <a href="{{mak(loadedFile);}}" target="_blank">
                                                </a>-->
                        <img src="{{loadedFile}}" ng-click="showImagePopup(loadedFile)"/>                        
                    </div>                    
                </div>    

                <div class="col-sm-12 col-md-6" ng-show="loadedVideo">                    
                    <video id="bpUploadedVideo" controls></video>
                </div>                
            </div>
            <div class="row  post-sale">
                <div class="col-sm-3">
                    <button class="btn btn-lg btn-primary btn-block" ng-click="saveAd('step3')">Place Ad Now</button>
                </div>                
            </div>
        </div>
        
        
        <div class="step-3" ng-if="step.step3.current">
            <div class="row">
                <div class="col-sm-12">
                    <div class="post-sale">
                        {{$scope.paymentDetails}}
                        <h4>Almost Done!</h4>
                        <p>You can make your ad live by doing any one of the following:</p>
                        <ul>
                            <li>Click the link sent to <b>{{addPost.emailId}}</b></li>
                            <li><a href="#login" target="_blank">Login to your account</a></li>
                        </ul>
                        <p>
                            If you do not receive an email from us, please see our <a href="#" target="_blank">help section.</a>
                        </p>
                        <p>
                            To post another ad, <a ng-href="#" target="_blank">click here.</a>
                        </p>
                        <p>
                            <span>Thank you</span> <a href="#" target="_blank">http://byemistake.in/baypassion/</a>
                        </p>
                    </div>
                </div>
                <div class="row  post-sale">
                    <div class="col-sm-3">
                        <button class="btn btn-lg btn-primary btn-block bp-margin-top" ng-click="finalStep('step4')">Next</button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
        <div class="step-4" ng-if="step.step4.current">
            <div class="row">
                <div class="col-sm-12">
                    <div class="post-sale">
                        <p class="bp-margin-top">
                        <h4>Your ad has been verified and posted.</h4>
                        </p>
                        <p class="bp-margin-top">
                            view your Ad. <a ng-href="">click here</a> 
                        </p>
                        <p class="bp-margin-top">
                            To Post Another Ad <a ng-href="">click here</a> 
                        </p>
                        <p class="bp-margin-top">
                            Thank You
                        </p>
                        <p class="bp-margin-top">
                            <a ng-href="http://baypassion.com">Baypassion</a></p>

                        <!--   <p class="bp-margin-top">
                              Purchase : <a  ng-href="#autoRepost">auto repost </a><a ng-href="#nearbyCity">nearby cities </a>
                          </p>
                          <p class="bp-margin-top">
                              <a ng-href="#deleteAds">Delete</a> your ad
                          </p>
                          <p class="bp-margin-top">
                          <h3>
                              {{addPost.sellingPrice}},<span ng-bind-html="addPost.title"></span>
                          </h3>
                          </p>
                          <p class="bp-margin-top">{{addPost.postedOn}}</p>
                      </div>
                      <div class="post-sale" style="margin-top: 50px;">
                          <p class="bp-margin-top">
                              <span class="label label-default">Reply</span>
                          </p>
                          <p class="bp-margin-top">
                          <h4 ng-bind-html="addPost.title"></h4>
                          </p>
                          <p class="bp-margin-top">
                          <h4>{{addPost.mapLink}}</h4>
                          </p>
                          <p class="bp-margin-top">
                              <span class="label label-default">email to friend.</span>
                          </p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>